.aboutBlock{
    background-color: #81B29A;
    height: auto;
    min-height: 100vh;
    
}

.relative{
    position: relative;
}

.vert{
    margin-top: 10rem;
    /* margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.test{
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.skills{
    background-color: #E07A5F;
    min-height: 100vh;
}

.contactEnd{
    background-color: #3D405B;
    min-height: 100vh;
}

.topic{
    padding: 20px;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.round{
    border-radius: 30px;
}

.round-dark{
    border-radius: 20px;
    background-color: #ccc;
    height: 100%;
    margin-right: 15px;
}

.remove{
    color: #212529;
}

.no-underline{
    text-decoration: none;
}

.logoImg{
    width: 100%;
}
.bottom-logo{
    margin-top: 5rem;
}

@media screen and (max-width: 480px) {

    .aboutBlock{
      min-height: 180vh;
    }
    .round-dark{
        width: 55%;
        margin: auto;
        
    }
    .contactEnd{
        min-height: 130vh;
    }

    .skills{
        min-height: 180vh;
    }
    .logoImg{
        width: 40%;
        margin-bottom: 10px;
    }
    .bottom-logo{
        margin-top: 0px;
    }
  }